*{
    background-color: #ffca4b;
    color: #000; /* Couleur du texte pour contraster avec le fond */
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {
    *{
        background-color: #ffca4b;
    }
}
